
<style type="text/css">
    /* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

input.ng-dirty.ng-invalid {
  color: red;
  border: 1px solid red;
}
input.ng-dirty.ng-valid {
  color: green;
}
.error-message {
  color: red;
}
.student-thumbnail {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 50px;
}
.student-hover {
  box-shadow: 0 0 1px 1px #a94442;
}
.student-img {
  width: 150px;
}
.form-control:focus {
  border-color: transparent;
  outline: none;
}
</style>
<!-- <div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <form name="form" ng-submit="validateLogin()" role="form">
        <div class="form-group" ng-class="{ 'error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>
        </div>
    </form>
</div> -->
<div class="container">
    <div ng-show="loginForm.$pristine">Form input has not yet started</div>
    <div ng-show="loginForm.$dirty">Form input has started</div>
    <form name="loginForm" novalidate>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" placeholder="Enter email" ng-model="student.email" name="studentEmail" required="" class="form-control">
            <span ng-show="loginForm.studentEmail.$dirty && loginForm.studentEmail.$error.required" class="error-message ">Please enter email id</span>
            <span ng-show="loginForm.studentEmail.$dirty && loginForm.studentEmail.$error.email" class="error-message ">Please enter valid email</span>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" placeholder="Enter password" ng-model="student.password" name="studentPassword" required="" class="form-control">
            <span ng-show="loginForm.studentPassword.$dirty && loginForm.studentPassword.$error.required" class="error-message ">Please enter password</span>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="alert('hi')">Submit</button>
        <button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>
        <!-- <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button> -->
    </form>
</div>
