<header></header>
<div class="well clearfix">
    <div class="col-md-6">
        <h4 class="text-info"><b>Employees</b></h4>
    </div>
    <div class="col-md-2">
        <input type="text" ng-model="search" placeholder="search" class="form-control" />
    </div>
    <div class="col-md-2">
        <select ng-init="sortBy=sortOpts[0];order(sortBy)" class="form-control" ng-options="item for item in sortOpts | uppercase" ng-model="sortBy" ng-change="order(sortBy)"></select>
    </div>
    <div class="col-md-2">
        <a ui-sref="add" class="btn btn-primary pull-right">Add Employee</a>
    </div>
</div>
<div class="well">
    <table class="table table-hover table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Phone No</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in employees | filter : search" class="text-primary">
                <td><a class="edit-link" ui-sref="edit({id: '{{data._id}}'})">{{data._id}}</a></td>
                <td><a class="edit-link" ui-sref="edit({id: '{{data._id}}'})">{{data.name}}</a></td>
                <td><a class="edit-link" ui-sref="edit({id: '{{data._id}}'})">{{data.email}}</a></td>
                <td><a class="edit-link" ui-sref="edit({id: '{{data._id}}'})">{{data.age}}</a></td>
                <td><a class="edit-link" ui-sref="edit({id: '{{data._id}}'})">{{data.gender}}</a></td>
                <td><a class="edit-link" ui-sref="edit({id: '{{data._id}}'})">{{data.phone}}</a></td>
                <td><a class="edit-link" ui-sref="edit({id: '{{data._id}}'})">{{data.address}}</a></td>
                <td>
                    <del-emp id="{{data._id}}"></del-emp>
                </td>
            </tr>
        </tbody>
    </table>
</div>
