<h1>Hello {{loggedInEmp}}</h1>
<div class="well clearfix">
    <div class="col-md-8">
        <h4 class="text-info"><b>Employees</b></h4>
    </div>
    <div class="col-md-2">
        <select ng-init="sortBy=sortOpts[0];order(sortBy)" class="form-control" ng-options="item for item in sortOpts | uppercase" ng-model="sortBy" ng-change="order(sortBy)"></select>
    </div>
    <div class="col-md-2">
        <a href="#add" class="btn btn-primary pull-right">Add Employee</a>
    </div>
</div>
<div class="well">
    <table class="table table-hover table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Phone No</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in employees" class="text-primary">
                <td ng-click="editEmployee(data._id)">{{data._id}}</td>
                <td ng-click="editEmployee(data._id)">{{data.name}}</td>
                <td ng-click="editEmployee(data._id)">{{data.email}}</td>
                <td ng-click="editEmployee(data._id)">{{data.age}}</td>
                <td ng-click="editEmployee(data._id)">{{data.gender}}</td>
                <td ng-click="editEmployee(data._id)">{{data.phone}}</td>
                <td ng-click="editEmployee(data._id)">{{data.address}}</td>
                <td>
                    <del-emp id="{{data._id}}"></del-emp>
                </td>
            </tr>
        </tbody>
    </table>
</div>
