<div class="col-md-6 col-md-offset-3">
    <h2 class="text-primary">Login...</h2>

    <p class="text-info pull-right" ng-show="loginForm.$pristine">Form input has not yet started</p>
    <p class="text-info pull-right" ng-show="loginForm.$dirty">Form input has started</p>

    <form name="loginForm" novalidate>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" placeholder="Enter email" ng-model="user.email" name="userEmail" required="" class="form-control">
            <span ng-show="loginForm.userEmail.$dirty && loginForm.userEmail.$error.required" class="error-message ">Please enter email id</span>
            <span ng-show="loginForm.userEmail.$dirty && loginForm.userEmail.$error.email" class="error-message ">Please enter valid email</span>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" placeholder="Enter password" ng-model="user.password" name="userPassword" required="" class="form-control">
            <span ng-show="loginForm.userPassword.$dirty && loginForm.userPassword.$error.required" class="error-message ">Please enter password</span>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="validateUser()">Submit</button>
        <button type="reset" class="btn btn-default" ng-click="reset();loginForm.$invalid=true">Reset</button>

    </form>

</div>